body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: #232323;
    color: #cbcbcb;
}

header {
    background-color: #ffbe02;
}

#title {
    text-align: center;
    background-color: #333333;
    backdrop-filter: blur(5px);
    padding: 30px;
}

#table {
    width: 75%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #303030;
    border-style: solid;
    color: #000000;
}

#tab td, #tab th {
    border-width: 2px;
    border-color: #303030;
    border-style: solid;
    padding: 8px;
}

#tab thead {
    background-color: #e65000;
}

#content {
    padding: 15px;
}

.vis {
    color: #767676;
    border-color: #767676;
    background-color: #767676;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn__burger {
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .2s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .2s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-6px);
}
.menu-btn__burger::after {
    transform: translateY(6px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */