body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: #232323;
    color: #cbcbcb;
}

#title {
    text-align: center;
    background-color: #333333;
    padding: 30px;
    border: none !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */