body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: #232323;
    color: #cbcbcb;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

#title {
    text-align: center;
    background-color: #333333;
    backdrop-filter: blur(5px);
    padding: 30px;
}

#table {
    width: 75%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #303030;
    border-style: solid;
    color: #000000;
}

#tab td, #tab th {
    border-width: 2px;
    border-color: #303030;
    border-style: solid;
    padding: 8px;
}

#tab thead {
    background-color: #e65000;
}

.vis {
    color: #767676;
    border-color: #767676;
    background-color: #767676;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */